body {
    background-color: black;
    height: 500px;
    margin: 100px;
    background: hsla(212, 100%, 23%, 1);
    background: linear-gradient(45deg, hsla(212, 100%, 23%, 1) 0%, hsla(285, 81%, 30%, 1) 100%);
    background: -moz-linear-gradient(45deg, hsla(212, 100%, 23%, 1) 0%, hsla(285, 81%, 30%, 1) 100%);
    background: -webkit-linear-gradient(45deg, hsla(212, 100%, 23%, 1) 0%, hsla(285, 81%, 30%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#003673", endColorstr="#6D0F8C", GradientType=1);
}

iframe.register {
    height: 100%;
    width: 100%;
}